#tabbrowser-tabs { visibility: collapse !important; }

#tracking-protection-icon-container,
#firefox-view-button,
#alltabs-button,
#new-tab-button,
#back-button,
#private-browsing-indicator-with-label,
#forward-button,
.titlebar-spacer {
  display: none !important;
}

#nav-bar {
  background: transparent !important;
}

#sidebar-header, #sidebar-main, .sidebar-splitter {
  display: none !important;
}

#sidebar-box {
  width: 5vw !important;
  padding: 0 !important;
}

#sidebar {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

#navigator-toolbox {
  border: 0 !important;
}

#tabbrowser-tabbox, #browser {
  outline: none !important;
  background-color: #2B2B2B !important;
  box-shadow: none !important;
}

/* Floating content */
/* #tabbrowser-tabpanels {
  & browser[type="content"] {
    border-radius: 1% !important;
    box-shadow: var(--content-area-shadow) !important;
  };
  
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
} */

/* Colour match */
.sidebar-panel {
  background-color: #2B2B2B !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}